[2015-02-20 15:07] edwinDOS opened #1 "openrave installation problems"
Following the opnerave installation tutorial for ubuntu, when i type:
**sudo apt-get install libsoqt4-dev libcoin60-dev**
get the error:

_Leyendo lista de paquetes... Hecho_
_Creando árbol de dependencias_
_Leyendo la información de estado... Hecho_
_El paquete libcoin60-dev no está disponible, pero algún otro paquete hace referencia_
_a él. Esto puede significar que el paquete falta, está obsole

[2015-02-20 15:12] edwinDOS commented on #1
I installed Ubuntu 14.04.2 LTS

[2015-02-20 19:31] jgvictores commented on #1
It seems from http://packages.ubuntu.com/search?keywords=libcoin that libcoin60-dev was dropped from ubuntu 12.04 to 14.04. Try with **sudo apt-get install libsoqt4-dev libcoin80-dev** instead.

[2015-02-20 23:23] edwinDOS commented on #1
when i typed:
      **cd openrave; mkdir build; cd build; cmake ..; make -j3**
shows the next error:

[code]

[2015-02-21 11:29] jgvictores opened #2 "[dox] specify distro version in installation guides"
Similar has been done at https://github.com/roboticslab-uc3m/teo-main/tree/master/doc

[2015-02-21 11:36] jgvictores commented on #1
Okay, I've updated the libcoin version at 55f4b68d51687c5938ce318faf5adc3cbec605c1 and opened https://github.com/roboticslab-uc3m/asibot-main/issues/2 regarding a need to specify distro for install instructions.
Regarding your new issue, try switching to the openrave master branch, maybe it has been fixed:
**git checkout master; git pull**

[2015-02-23 09:36] iagson opened #3 "Segmentation fault: cannot render offscreen (cartesianServer and any module that uses RaveBot/OpenRAVE cameras)"
Hello jgvictores,

I was trying to start an instance of a cartesianServer, to see if all software was installed correctly and the kitchen  appears to initialise upside down. That isn't so bad, but when you try to input some extra commands like " cartesianServer --env asibot_kitchen_cameras.env.xml " the GUI doesn't start beacuse of an error (already tried by changing the .ini file)

It's also true

[2015-02-23 11:22] jgvictores commented on #3
1) On your first screenshot I see a YARP matching protocol error (1 0 0 vs 0 0 0). You should be able to fix that by cleaning and recompiling (may be overkill, but I'd first do it on YARP and then on ASIBOT).
2) Check if the environment that breaks has cameras. There is a known issue regarding the off-screen rendering we use and certain graphic card drivers (especially in Linux).

BTW, don't mind

[2015-02-23 12:17] iagson commented on #3
After recompiling both YARP and ASIBOT the error persists.
BTW, I had to rename the asibot-main directory to asibot so to initialise cartesianServer.
This is the whole log after trying to access a camera:

iagson@iagson-VirtualBox:~$ cartesianServer --env asibot_kitchen_cameras.env.xml
||| clearing context
||| adding context [cartesianServer/conf]
||| configuring
||| policy set to ASIBOT_ROOT
|||

[2015-02-23 17:31] jgvictores commented on #3
The final segmentation fault is due to "offscreen renderer failed (check video driver)".
Here are related issues:
http://openrave-users-list.185357.n3.nabble.com/qtcoin-viewer-error-quot-offscreen-renderer-failed-quot-td4025805.html
http://openrave-users-list.185357.n3.nabble.com/Vision-sensor-in-c-td2706454.html#a2735645
This is an old issue related to OpenRAVE and deeper. At the asibot-main leve

[2015-02-26 08:55] jgvictores commented on #1
Was solved by installing all boost: **sudo apt-get install libboost-all-dev**, and then performing clean OpenRAVE build: **cd openrave; rm -rf build; mkdir build; cmake ..; make -j3**

[2015-02-26 08:55] #1 closed, assigned to nobody

[2015-02-27 11:42] iagson opened #4 "CartesianServer fails when starting, due to controlboard and controlboardwrapper2 issues"
Hi jgvictores

I encountered another issue while running the cartesianServer instance. I did a fresh install of Ubuntu 14.10 on my computer (I previously had it on a Virtual Machine) and now I can't run the instance. OpenRAVE is the one that seems to fail, but I reinstalled it a couple times (without uninstalling first) even with the cmake videorecording-option Off. I also reinstalled yarp and the

[2015-03-04 14:32] jgvictores commented on #4
I'd try to fix:
`[ERROR]expecting protocol 1 1 0, but remotecontrolboard returned protocol version 0 0 0`
This can happen if different parts of a program are compiled with different versions of YARP. Try the following:
- Make sure you only have one installation of YARP.
- Completely uninstall and delete any trace of asibot-main.
- Perform a fresh clean install of asibot-main against the unique YAR

[2015-03-10 10:18] iagson commented on #4
Hello jgvictores,

I tried what you suggested with no luck, even formatting the OS, but the cartesianServer keeps failing.
This time the error message that you prompted last time has changed to:

_[ERROR]expecting protocol 1 2 0, but remotecontrolboard returned protocol version 0 0 0_

and here is the rest of the log, although it's very similar to the previous one:

iagson@iagson-ControlMachine:~$

[2015-03-11 11:44] jgvictores commented on #4
Should be fixed at fc26336c24434f6c0ecbdd283ec1ebb9b51793f8 by updating from controlboard to controlboardwrapper2, will now clean up and merge with master.

[2015-03-11 11:47] #4 closed, assigned to nobody

[2016-04-01 13:56] serna92 opened #7 "[environment-core.h:475 Load] load failed on file [error] RaveBot could not load environment."
Hello jgvictores,

I'm using Ubuntu 14.04 and I compiled  the asibot-main repository and executed "cartesian server" command after installing it by the following tutorial:

http://robots.uc3m.es/dox-asibot-main/install_on_ubuntu.html

I attach the output of the command "cmake" and the command "cartesian server".

I also have problems with Intel drivers but it seems that there is no support for Ubu

[2016-04-08 08:20] jgvictores opened #8 "Add install instructions or link in README."
Add install instructions or link in README.

[2016-04-08 08:28] jgvictores commented on #7
Could you copy and paste the output of:
`ls /usr/local/share/asibot/contexts/ravebot/models/`
?

Just for the record, no need to touch anything yet, here are some pointers for your additional issues:
- WARNING: your [cmake.txt](https://github.com/roboticslab-uc3m/asibot-main/files/199713/cmake.txt) Makes me believe you may have two installations of Boost. The one in /usr/local usually means you ma

[2016-04-08 10:12] serna92 commented on #7
That's the output of ls `/usr/local/share/asibot/contexts/ravebot/models/`

asibot.kinbody.xml                 ipcamCart.kinbody.xml
asibot_kitchen_cameras2.env.xml    ipcamCart.robot.xml
asibot_kitchen_cameras.env.xml     ipcam.kinbody.xml
asibot_kitchen.env.xml             ipcam.robot.xml
asibot_kitchen_force6d.env.xml     ivs
asibot_kitchen_gafasAR.env.xml     kinect.kinbody.xml
asibot_kitchen_

[2016-04-08 10:17] jgvictores commented on #7
The other ones are slower, this should be possible without them. Please copy+paste results of:
`ls /usr/local/share/yarp/config/path.d`
`cat /usr/local/share/yarp/config/path.d/*`
`echo $YARP_DATA_DIRS`

[2016-04-08 10:24] serna92 commented on #7
`ls /usr/local/share/yarp/config/path.d`
`cat /usr/local/share/yarp/config/path.d/*`

ls: no se puede acceder a /usr/local/share/yarp/config/path.d: No existe el archivo o el directorio

`echo $YARP_DATA_DIRS`

It doesn't appear nothing, maybe I haven't it setted

[2016-04-08 10:27] jgvictores commented on #7
Can you `cd` to `asibot-main/build`, and copy and paste here the output of `sudo make install`?

[2016-04-08 10:33] serna92 commented on #7
[  3%] Built target TinyMath
[  7%] Built target TestRaveBotLib
[ 10%] Built target CartesianClientLib
[ 21%] Built target CartesianServerLib
[ 25%] Built target ColorClientLib
[ 64%] Built target ravebot
[ 82%] Built target cartesianbot
[ 85%] Built target RlPlugins
[ 96%] Built target TaskLib
[100%] Built target cartesianServer
Install the project...
-- Install configuration: ""
-- Up-to-date: /

[2016-04-08 10:37] jgvictores commented on #7
Ok, normally there should be a:
`-- Up-to-date: /usr/local/share/yarp/config/path.d/asibot.ini`
before your:
`-- Up-to-date: /usr/local/share/asibot/ymanager.ini`

Please uninstall asibot-main and yarp, then fresh reinstall yarp and asibot-main.

[2016-04-08 10:49] serna92 commented on #7
`sudo make install`

[  3%] Built target TinyMath
[  7%] Built target TestRaveBotLib
[ 10%] Built target CartesianClientLib
[ 21%] Built target CartesianServerLib
[ 25%] Built target ColorClientLib
[ 64%] Built target ravebot
[ 82%] Built target cartesianbot
[ 85%] Built target RlPlugins
[ 96%] Built target TaskLib
[100%] Built target cartesianServer
Install the project...
-- Install configuration

[2016-07-14 17:41] DennysMS opened #9 "enable webInterface"
No puedo habilitar ni instalar la app de webInterface de ASIBOT.
El texto dice lo siguiente "The module is compiled when ENABLE_webInterface is activated (default: OFF)" pero no lo puedo habilitar. No se si tengo que hacer algo antes.
He seguido el siguiente tutorial "http://robots.uc3m.es/dox-asibot-main/install_on_ubuntu.html" pero ahora quiero utilizar la webInterface pero no puedo.

Gracias de

[2016-07-14 17:51] DennysMS commented on #9
También he intentado seguir este tutorial: http://robots.uc3m.es/dox-asibot-main/group__asibot__webInterface.html Pero creo que faltan comandos ya que al introducir el comando "make install_applications" me sale el siguiente mensaje: "make: **\* No hay ninguna regla para construir el objetivo «install_applications».  Alto."

[2016-07-14 18:06] jgvictores commented on #9
Pequeño disclaimer: la repo asibot-main en general la hemos mantenido poco últimamente. Por ejemplo, make install_applications ya no es necesario.
Otra cosa, por favor copia siempre el output del make (desde arriba). Es donde se suelen leer los errores de compilación.
En la carpeta build, haz:
`cmake .. -DENABLE_webInterface=ON`
y continúa con el make, etc.

[2016-07-15 09:26] DennysMS commented on #9
He intentado lo que me has sugerido, pero al continuar con el make me salen unos errores.

Al ejecutar "cmake .. -DENABLE_webInterface=ON" me sale lo siguiente, que yo creo que no tiene ningún problema:

[code]

Pero al proseguir con el make, salen dos errores:

[code]

[2016-07-17 10:26] jgvictores commented on #9
[code]

[2016-07-20 12:06] DennysMS commented on #9
Con los comandos que me has dado ya se ha instalado webInterface, pero al ejecutar "bin/webInterface" no se abre el simulador ni me deja acceder a la interfaz web a través del navegador, tal y como sucede en el video "https://www.youtube.com/watch?v=9B0tVJsg-0I&feature=youtu.be"

Lo que me sale al introducir el comando bin/webInterface es:

[code]

[2016-07-21 09:38] jgvictores commented on #9
En #10 he actualizado webInterface para que encuentre los recursos, pero falta por actualizar el simulador.

[2016-07-21 10:07] jgvictores commented on #9
[code]

Lanzando una instancia de `cartesianServer` en otra ventana (es el que invoca al simulador), he podido conectar la interfaz web con el simulador. Prueba y me cuentas.

[2016-07-26 14:12] DennysMS commented on #9
Lo he probado y si que establece conexión entre la interfaz y el simulador. Pero en cuanto se mueve una articulación desde la interfaz, se empieza a descolocar todo el brazo robótico y no se a que se puede deber eso.
Aparte de esto, el brazo robótico esta muy cerca del mueble de la cocina. Se podría mover todo el brazo robótico a la mitad del entorno, si es así como se podría hacer.

[2016-08-31 15:23] DennysMS commented on #9
Como al mover el robot desde la interfaz web se desancla o desensambla, he intentado moverlo directamente desde el simulador y desde la terminal.
Al intentar moverlo desde el simulador es como que quiere moverse pero no consigue hacerlo y vuelve a su posición de partida. Mientras que si lo intento mover desde la terminal ejecutando
`yarp rpc /ravebot/cartesianServer/rpc:i`
y posteriormente
`[movl]

[2016-09-01 15:24] jgvictores commented on #9
Procedo a cerrar esta issue, puesto que webInterface está actualizado y se conecta.

Por favor abre otras issues separados por temática, como podrían ser issues diferentes para estabilidad de motor físico vs problemas en movimiento cartesiano movl.

[2016-09-01 15:24] #9 closed, assigned to nobody

[2016-09-01 15:38] DennysMS opened #11 "Estabilidad de motor fisico en simulación"
Al intentar mover el robot desde la interfaz web, este se desancla o desensambla y las articulaciones del robot empiezan a moverse libremente por el entorno.
He intentado moverlo directamente desde el simulador pero es como que quiere moverse pero no consigue hacerlo y vuelve a su posición de partida, es decir, el motor no se estabiliza cuando se intenta un movimiento ya sea desde la interfaz o de

[2016-09-01 15:45] DennysMS opened #12 "Problemas con movimiento cartesiano"
Al intentar mover el robot desde la terminal (2) ejecutando los siguientes comandos:
`yarp rpc /ravebot/cartesianServer/rpc:i`
`[movl] (.1 .3 .8 90 0)`

en la terminal (1) donde he lanzado la instancia de `cartesianServer` me sale el siguiente error de ravebot:

[code]

a pesar de que en la terminal (2) donde se ejecuta el movimiento sale como que todo esta correcto

[code]

[2016-09-01 17:23] DennysMS commented on #12
Problema solucionado. Había que cambiar el control de posición a velocidad `DEFAULT_MODE_POS_VEL = 1`
Pero al moverse el robot se desacoplan las articulaciones, es decir, se tiene el mismo problema que en #11

[2016-09-08 09:32] jgvictores commented on #12
En realidad no habría que tocar los valores por defecto (i.e. `DEFAULT_MODE_POS_VEL`). `movl`utiliza el modo velocidad, y es posible que no se esté cambiando al modo de velocidad debido a la utilización de una función obsoleta.

[2016-09-08 09:36] jgvictores commented on #11
Los motores físicos de simulación tienden a ser muy inestables. Recomiendo la desactivación del motor físico. De hecho, en https://github.com/roboticslab-uc3m/asibot-main/blob/develop/src/libraries/RlPlugins/ravebot/RaveBot.h se ve `DEFAULT_PHYSICS "none"`. Si no lo estás activando por línea de comandos, revisa que no sea el `xml` del entorno el que lo está activando.

[2016-09-08 17:20] DennysMS commented on #11
Como bien decías, era el xml del entorno que activaba los motores físicos.
Simplemente he comentado la parte de `physicsengine` y en simulación ya funciona correctamente.
Gracias.

[2016-09-09 10:28] DennysMS opened #13 "Creación de programa en webInterface"
Tengo problemas al intentar hacer un programa en la interfaz web. Guarda los puntos en la pestaña _joint_ pero al ir a la pestaña _program_ dice que no se ha guardado ningún punto, a pesar de que he creado un programa tal y como sale en el tutorial https://www.youtube.com/watch?v=9B0tVJsg-0I

[2016-09-10 10:17] jgvictores commented on #11
Sí, la idea es esa: cambiar parámetros a través de línea de comandos o en ficheros de configuración (`.ini`, `.xml`,...) no está mal porque precisamente están para eso y no hay que recompilar.
Cierro esta issue, pero de momento dejo abierta la #12 porque en esa la única solución propuesta afecta al código fuente y hay que recompilar.

[2016-09-10 10:17] #11 closed, assigned to nobody

[2016-09-10 10:25] jgvictores commented on #13
Por un lado hay pestañas de movimiento, pero el punto se captura con el botón de _Capture Point_ que está parte superior derecha en la pestaña _program_, a modo 'estoy conforme con esta posición que estoy viendo'.

[2016-09-11 11:22] DennysMS commented on #13
Es verdad que en la pestaña de _program_ hay una parte donde pone _captured points_ pero no hay ningún botón, por eso yo guardaba los puntos desde la pestaña _joint_ pensando que se guardaría desde allí también pero ya veo que no es así.
Entonces esa es mi duda, no hay botón para capturar puntos desde la pestaña _program_, por tanto no se puede hacer un programa.

[2016-09-11 20:51] jgvictores commented on #13
Si te fijas en [2:51 del vídeo](https://youtu.be/9B0tVJsg-0I?t=2m51s), hace click en el botón de _Capture point_ (no el texto, sino la imagen del punto rojo estilo 'grabar' justo debajo). De ahí además se le pide confirmación en una pequeña ventana emergente.
1. ¿Tienes el botón rojo en pantalla? (lo he señalado con una flecha rosa sobre un pantallazo)
2. ¿Te sale la ventana emergente? (sólo se me

[2016-09-12 09:27] DennysMS commented on #13
El problema es que no me sale el botón rojo en pantalla e incluso he visto el código de _program.html_ y en el apartado de _POINTS_ está vacío, aunque he de reconocer que no tengo mucha idea de html ni javascript.
Adjunto un pantallazo de lo que me sale en la pestaña _program_

![captura de pantalla de 2016-09-12 11 23 49](https://cloud.githubusercontent.com/assets/20463124/18431109/cf3f4858-78db-

[2016-09-12 10:31] jgvictores commented on #13
Tienes razón, el vídeo está desactualizado. En versiones más recientes de `webInterface` los puntos se guardan desde las pestañas de movimiento. Con c6ca734bad1e195d9e2d994d8cfed58688f49402 he arreglado lo de que aparezcan los puntos en la pantalla de programa (puedes hacer el clásico `git pull`, recompilar y volver a instalar), pero todavía hay problemas de creación de programas debido a rutas y

[2016-09-12 11:54] DennysMS commented on #13
Lo acabo de probar y si, es verdad que ya se guardan los puntos y también me deja crear un programa con dichos puntos. Pero ahora la cuestión es ejecutar ese programa, que supongo que se hace desde la pestaña _asiggner_.
Una vez creado y guardado el programa, me dirijo a la pestaña _assigner_, elijo el programa creado y le doy al botón _Assign to Task_, pero no sucede nada, ni sale una ventana eme

[2016-10-04 16:12] PeterBowman commented on #13
@DennysMS _Assign to task_ requiere haber especificado un programa, un comando de voz y un icono, pero únicamente muestra una alerta si olvidas seleccionar alguno de los iconos. El comando de voz es lo que más guerra da porque no funciona la escucha de eventos en JavaScript para el cambio de contenido en el &lt;input&gt; de la pestaña _Speech_. Una alternativa es crear manualmente el fichero _word

[2016-10-04 16:49] jgvictores commented on #13
@PeterBowman Creo que aún hay rutas rotas (esto se debe a cambios en todo lo de _context_ de YARP), pero buenas mejoras! Un PR sería muy bienvenido. :smile:

[2016-10-04 20:55] PeterBowman commented on #13
@jgvictores el único problema con las rutas que había notado es que no me encontraba los scripts de /share/../user, en particular _template.py_, que carga un trozo de código necesario para ejecutar las tareas guardadas (pestaña _Launcher_). Esto debería estar ya resuelto con PeterBowman/asibot-main@7a58b96, aunque sería preferible buscar otra solución. Por lo que veo, WebResponder espera que tanto

[2016-10-06 21:02] jgvictores commented on #13
En cuanto a `AsibotPy.py`, etc... lo ideal sería crear un `setup.py`. CMake sería el encargado de invocar `python setup.py install`.

[2016-10-10 15:57] serna92 opened #16 "Problemas para ejecutar la tarea en webInterface y el movimiento cartesiano."
Buenas tardes,

Tengo problemas al ejecutar una tarea en webInterface desde la pestaña launcher.
Cuando ejecuto la tarea me dice que el módulo AsibotPy no existe para ser importado. Agregué el archivo en el userpath (/home/miguel/.local/share/yarp/contexts/webInterface) y pasaba a decirme que no existía el módulo Yarp el cual no llegue a encontrar.

Creo que tras la instalación del webInterface, n

[2016-10-10 16:21] PeterBowman commented on #16
La detección de AsibotPy.py es una tarea pendiente de #13. Si no quieres copiar ese archivo a tu carpeta local (/home/miguel/.local/...), puedes añadir la ruta correspondiente a la variable de entorno $PYTHONPATH (asumiendo que ya has instalado Asibot en /usr como indican las capturas de pantalla):

`$ echo 'export PYTHONPATH=$PYTHONPATH:/usr/local/share/asibot/contexts/webInterface/user' >> ~/.ba

[2016-10-11 09:45] serna92 commented on #16
Buenas, volví a ejecutar el programa tras añadir la variable de entorno e instalar los bindings y me apareció un nuevo error.

Request: execute (program fill_glass) (REQUEST_URI "execute?program=fill_glass")
execute fill_glass program.
Traceback (most recent call last):
  File "/home/miguel/.local/share/yarp/contexts/webInterface/fill_glass.py", line 1, in <module>
    from AsibotPy import *
  Fil

[2016-10-11 09:51] jgvictores commented on #16
Antiguamente se utilizaba la variable de entorno ([leer acerca de viariables de entorno en general](http://asrob.uc3m.es/index.php/Variables_de_entorno)) ASIBOT_ROOT. Algo así como:
`export ASIBOT_ROOT=$HOME/asibot-main`
antes de lanzar el programa, o:
`$ echo 'export ASIBOT_ROOT=$HOME/asibot-main' >> ~/.bashrc`
como solución más permanente debería ayudar hasta que arregle el código. Por favor pru

[2016-10-11 10:04] serna92 commented on #16
Utilicé la solución de usar el comando "echo 'export ASIBOT_ROOT=$HOME/asibot-main' >> ~/.bashrc" y ya se ejecuta la simulación del movimiento del robot.

Por cierto, ¿Cómo se simula el agarre de un objeto en el escenario?.

[2016-10-13 10:10] jgvictores commented on #7
¿Qué distribución estás utilizando (Ubuntu, Mint, versión...)?
¿Algún gestor de ventanas estilo i3?

[2016-10-13 10:52] PeterBowman commented on #16
@serna92 he probado con los comandos RPC de [este tutorial](http://robots.uc3m.es/dox-asibot-main/group__testRaveBot.html#testRaveBot_interfacing). El siguiente código Python, pegado en la lista de instrucciones de un programa en webInterface (siempre después de la instrucción `from AsibotPy import *`), genera un cubo en el simulador (equivale a `[on terminal 4] world mk sbox .1 .1 .1 1 2 1.5` de

[2016-10-13 14:27] jgvictores commented on #16
Habiendo hecho eso, esa misma caja se podría agarrar con:

[code]

y soltar con:

[code]

[2016-10-21 10:10] serna92 opened #19 "Problemas para compilar asibot-main."
Buenos días,

Al ejecutar el comando make aparece el siguiente error:

[ 25%] Building CXX object src/libraries/RlPlugins/ravebot/CMakeFiles/ravebot.dir/**/**/**/**/generated_code/RlPlugins_add_ravebot.cpp.o
In file included from /usr/local/include/yarp/os/SharedLibraryFactory.h:16:0,
                 from /usr/local/include/yarp/os/SharedLibraryClassFactory.h:13,
                 from /usr/local/

[2016-10-21 10:15] jgvictores commented on #19
No compila porque hay funciones de YARP que no están implementadas. Estaban implementadas, pero se borraron en #17 al tratarse de funcionalidades obsoletas. Actualiza YARP:

[code]

Y prueba de nuevo.

[2016-10-21 10:44] serna92 commented on #19
Ok, ya funcionó.

[2016-10-21 13:57] PeterBowman commented on #19
En 067d271 (#17) se implementó IControlMode en RaveBot, necesario para funcionar en YARP 2.3.64+, pero el parche en sí requiere una versión posterior (2.3.65+).

@jgvictores: he creado #20 en caso de que fuera preferible ofrecer soporte para versiones más antiguas. De lo contrario, habría que documentar este requisito en alguna parte. ¿Qué te parece?

[2016-10-21 13:59] jgvictores commented on #19
Back-compatibility forever mientras sea factible :smile:
Ahora aceptaré #20.

[2016-10-21 14:02] jgvictores commented on #19
@PeterBowman Trabajar con forks está muy bien, pero si lo ves claro, no dudes en trabajar sobre una branch del repo o incluso un hot-fix a develop. BTW, los PR a develop, por favor. La idea es merge a master cuando webInterface están estables. :grinning:

[2016-10-21 15:14] PeterBowman commented on #19
Muchas gracias, @jgvictores. Sí, al principio dudé y estuve subiendo todo a master, pero desde los últimos commits estoy dejando esa rama a un lado (algunos cambios los subo directamente a develop, otros mediante branches por separado y posterior merge). He usado un PR esta vez porque me parecía una mejor opción para recoger feedback, revisar el código y subir correcciones si hicieran falta. ¿El o

[2016-10-21 19:27] PeterBowman commented on #2
@jgvictores is Markdown format preferred over Doxygen (see [teo-main/doc](https://github.com/roboticslab-uc3m/teo-main/tree/830d497eec5e1cc72a5833be74cdd4cd7167fe97/doc) and its [latest commits](https://github.com/roboticslab-uc3m/teo-main/commits/master/doc))? Should these files be accessed from GitHub or robots.uc3m.es/dox-...?

[2016-10-21 20:25] jgvictores commented on #19
Sí, eso es, seguir el GitFlow como en su día empezamos en los repositorios de teo (véase https://github.com/roboticslab-uc3m/teo-main/issues/16).
Cierro issue!

[2016-10-21 20:25] #19 closed, assigned to nobody

[2016-10-21 21:34] jgvictores opened #21 "Clean asibot-main programs/modules"
There are a number of modules that should go elsewhere or become deprecated in favor of advances. This is not mandatory, but we have been working a lot elsewhere! I'm going to try to describe as honestly as possible the situation/past/present of each module.
- [x] testRaveBot -> Work in progress is to use [openrave-yarp-plugins](https://github.com/roboticslab-uc3m/openrave-yarp-plugins)  with sepa

[2016-10-22 15:05] jgvictores commented on #2
Yes, Markdown is preferred over Doxygen for install guides, and essentially anything that is not pure class/library/program documentation.

Precisely, the intention is to **not** have to rely on CRON of robots.uc3m.es and instead get immediate GitHub visualization. Take a look at the raw of the [teo-main README](https://github.com/roboticslab-uc3m/teo-main/blob/464b8cd0f70c019feacf3b9124f6cbcbb460

[2016-10-22 15:16] jgvictores opened #22 "Add CONTRIBUTING.md"
Similar to https://github.com/roboticslab-uc3m/teo-main/blob/develop/CONTRIBUTING.md

It's nice because you get a

[code]

banner upon starting a new issue.

[2016-10-27 08:39] jgvictores commented on #2
@PeterBowman Anything needed here?
It is set as a requirement for #23

[2016-10-27 08:43] jgvictores commented on #2
@PeterBowman BTW, I started https://github.com/roboticslab-uc3m/asibot-main/projects/1 because it really helps to keep track of priorities and progress.

[2016-10-28 12:22] PeterBowman commented on #2
@jgvictores I took advantage of the fact that all three issues are related and some work was already done in a single branch. A PR seemed more suited for keeping track and requesting feedback. Maybe it wasn't the best choice, though.

[2016-10-28 12:26] jgvictores commented on #2
No problem, was just giving info.
Anyway, can we close this issue given the PR?

[2016-10-28 18:22] PeterBowman commented on #2
Sure, if you think that's more appropriate to do in this case. Ideally, the issue should auto-close thanks to [this feature](https://help.github.com/articles/closing-issues-via-commit-messages/) when the relevant commit is merged (haven't tested it yet). The intention was to leave all three issues open to collect general input, and gather any implementation-focused comments in that single PR. Then

[2016-10-28 19:32] jgvictores commented on #2
Mmm I'll then interpret this is still open,  as the close commit hasn't arrived. In consequence, #23 should not be merged yet. Please correct me if my interpretation is wrong! :smiley:

[2016-10-28 20:37] PeterBowman commented on #2
That's correct, in the next days I'll submit a patch to #23 that will (hopefully) resolve this issue.

[2016-10-29 20:37] PeterBowman commented on #12
El problema original debería haber quedado resuelto con 067d271, llevo un tiempo realizando simulaciones con alternancia de modos y no he vuelto a observar ese error. ¿Podrías confirmarlo, @DennysMS, con la versión más reciente del repositorio en develop? Si aún tienes aquella modificación en el código, [esto](http://stackoverflow.com/a/7147320) debería deshacerla fácilmente.

Esta primera aproxim

[2016-11-02 15:42] #8 closed, assigned to nobody

[2016-11-02 15:42] #22 closed, assigned to nobody

[2016-11-02 15:42] #2 closed, assigned to nobody

[2016-11-07 12:27] #12 closed, assigned to PeterBowman

[2016-11-07 14:41] jgvictores commented on #7
No se está instalando: `/usr/local/share/yarp/config/path.d/asibot.ini`
Esto normalmente se debe a que existe una variable `ASIBOT_ROOT` o similar.
Please copy+paste results of:
`echo $ASIBOT_DIR`

[2016-11-11 14:31] jgvictores commented on #21
Updated info on testRaveBot: work at https://github.com/roboticslab-uc3m/openrave-yarp-plugins

[2016-11-14 22:43] PeterBowman commented on #13
@jgvictores esto ya estaría listo en la rama `setup-py`, CMake creará el módulo `AsibotPy` (llamando a `AsibotPy.py`) durante la instalación. ¿Hay algo más que quede por hacer en esta issue? ¿Qué te parecería incluir `example/python/CartesianClient.py` en ese mismo módulo para evitar la necesidad de configurar `ASIBOT_ROOT`? Las únicas referencias restantes a esta variable (según tengo entendido,

[2016-11-24 10:16] jgvictores commented on #13
Me parece bien. De hecho:
1. `example/exportable` es una cosa obsoleta desde que existen las shared libraries de YARP.
2. En realidad CartesianClient.py (además de CartesianClient.java) deberían desaparecer a corto plazo, siendo reemplazados por un enfoque más parecido al de ColorClient (nota: todos estos también desaparecerán... :skull_and_crossbones: :muscle: :smile: :muscle: ).

En conclusión:

[2016-11-25 17:43] PeterBowman commented on #21
More to come: https://github.com/roboticslab-uc3m/asibot-main/issues/13#issuecomment-262739920.

[2016-11-25 18:00] PeterBowman opened #24 "Use std::string instead of yarp::os::ConstString"
As stated in its documentation, it's:

In fact, `yarp::os::ConstString` seems to be a mere wrapper around `std::string`. TEO code happens to use this class scarcely, putting much more stress on the latter.

[2016-11-25 18:03] PeterBowman commented on #24
Putting this on hold in prevision of potentially overlapping work at #21.

[2016-11-25 20:30] #13 closed, assigned to PeterBowman

[2016-11-25 20:45] jgvictores commented on #24
I've updated this preference and others on http://robots.uc3m.es but started https://github.com/roboticslab-uc3m/QA/issues/4 to enhance documenting best or recommended practices.

[2016-11-28 17:08] PeterBowman opened #26 "Adjust to generic steps at new 'installation-guides' repo, get rid of ASIBOT_ROOT"
There are still several occurrences of `ASIBOT_ROOT` in the documentation (and some hits in the source code) that could be replaced with an explicit path while migrating our installation guides to [the new repository](https://github.com/roboticslab-uc3m/installation-guides). E.g.:

`[on terminal 3] cd repos/asibot-main/share`

instead of

`[on terminal 3] cd $ASIBOT_ROOT/share`

[2016-11-28 17:11] PeterBowman commented on #16
Abordaré el tema de las llamadas a `ASIBOT_ROOT` en #26. ¿Hay algo más que quede por hacer aquí?

[2016-11-28 17:15] jgvictores commented on #16
Yo esto lo cerraría como duplicado de #12.

[2016-11-28 17:31] #16 closed, assigned to nobody

[2016-11-28 17:41] PeterBowman commented on #26
Started to work on it at e3e45a7. Note to self: replace relative links of the form `\ref path_to_html` in documentation ([example](https://github.com/roboticslab-uc3m/asibot-main/blob/6df5d98/src/libraries/RlPlugins/kdlbot/KdlBot.h#L64)).

[2016-12-03 20:38] #26 closed, assigned to PeterBowman

[2017-02-10 17:57] jgvictores opened #28 "Clean asibot-main libraries"
There are a number of libraries that should go elsewhere or become deprecated in favor of advances. This is not mandatory, but we have been working a lot elsewhere
- [x] CartesianClientLib. (see cartesianServer on #21). ELIMINATE :skull_and_crossbones:
- [x] CartesianServerLib. (see cartesianServer on #21). ELIMINATE :skull_and_crossbones:
- [x] ColorClientLib. I'd replace it by an issue on the fi

[2017-04-22 16:20] jgvictores commented on #21
Moved `pointAtObjectServer` at 0995af2158727327bb9b0753a825ef70a9cd0032, WIP on the current `import-pointAtObjectServer` branch at https://github.com/roboticslab-uc3m/vision.

[2017-04-22 16:24] jgvictores opened #30 "Add Travis CI"
add travis ci!

[2017-04-22 19:52] jgvictores opened #31 "Delete backup data and wipe heavy files from commit history"
We should be removing old big files (`*.iv`, `*.wrl`) from this repository.

Issue discovered while looking at https://github.com/roboticslab-uc3m/asibot-openrave-models/issues/1 on heavy asibot models.

[2017-04-22 19:54] jgvictores commented on #31
@PeterBowman Safe to do this some time tomorrow?

[2017-04-22 20:23] PeterBowman commented on #31
@jgvictores sure!

[2017-04-24 10:02] jgvictores commented on #31
Again using https://rtyley.github.io/bfg-repo-cleaner/

[code]

Filename           |       Git id
--------------------|----------------------------------------------
cocina.iv               | e69f173a (1.2 MB)
docking.iv              | 8f086087 (1.2 MB)
dstation.iv             | 00d5f345 (719.0 KB)
elmacho.iv              | 3885fc2b (702.7 KB)
ensam01sn.iv            | c53177a7 (3.5 MB)
ensam02sn.

[2017-04-24 10:04] jgvictores commented on #31
@roboticslab-uc3m/asibot Please delete your old copy of [asibot-main](https://github.com/roboticslab-uc3m/asibot-main) and fresh clone!!!

[2017-04-24 10:04] #31 closed, assigned to jgvictores

[2017-04-24 11:06] PeterBowman commented on #31
:+1:

I think it actually did something as the `share/ravebot/models/ivs/` directory is no longer there at e4546c0.

[2017-05-01 13:40] PeterBowman commented on #28
Note: TinyMath is still called by TaskLib.

[2017-05-01 18:08] PeterBowman commented on #24
I'm going to close this as invalid. Several coding style recommendations were written down at the new [best-practices](https://github.com/roboticslab-uc3m/best-practices) repo and I think this one doesn't deserve a separate issue anymore, given most C++ code will get eventually removed or properly modernized anyway as a result of the ongoing reorganization process.

[2017-05-01 18:08] #24 closed, assigned to nobody

[2017-05-02 10:09] jgvictores commented on #21
Edit: Best to move `robotDraw` to [openrave-yarp-plugins](https://github.com/roboticslab-uc3m/openrave-yarp-plugins) rather than `xgnitive`.

[2017-05-03 07:45] serna92 opened #32 "How to add plannification in an asibotpy program?"
Hello,

I'm using Ubuntu 16.04.2 and I have a .py file with a simulation but I'm using intermediate targets to avoid obstacles. How can I add in this program the needed plannification in order to find a collisions free path?.

Thank you very much.

[2017-05-03 09:48] PeterBowman commented on #32
@jgvictores could we use the [`YarpOpenraveControlboardCollision`](https://github.com/roboticslab-uc3m/openrave-yarp-plugins/tree/479b52d/yarpplugins/YarpOpenraveControlboardCollision) plugin for this matter? Or would it require some kind of path-planning algorithm?

[2017-05-03 10:05] jgvictores commented on #32
@PeterBowman [`YarpOpenraveControlboardCollision`](https://github.com/roboticslab-uc3m/openrave-yarp-plugins/tree/479b52d/yarpplugins/YarpOpenraveControlboardCollision) is esentially a YARP Controlboard that rejects commands that result in collisions. Unfortunately, it does not provide path planning. The most valuable resource from the same repo is some example code to obtain a simplified collisio

[2017-05-03 10:30] jgvictores commented on #21
Developing replacement for `premultH` on `transCoordsUsingJoints` branch of https://github.com/roboticslab-uc3m/kinematics-dynamics

[2017-05-03 10:43] serna92 commented on #32
Hello,

I did something like that in my code:

[code]

But when I execute it, I obtain the next output:

hello, robot!
2017-05-03 12:37:21,332 openrave [WARN] [kinbody.cpp:1535 KinBody::SetDOFValues] dof 3 value is not in limits 9.000000e+01<2.356194e+00
2017-05-03 12:37:21,594 openrave [WARN] [basemanipulation.cpp:481 MoveActiveJoints] jitter failed 0
Traceback (most recent call last):
  File "de

[2017-05-06 10:16] serna92 commented on #32
Hello,

I'm trying to get the joint values needed to reach a cartesian position using the command inv:

[code]

But I get the next output:

Traceback (most recent call last):
  File "definitivo/programas/pick_can.py", line 69, in <module>
    simCart.inv(P_lata, goal)
  File "/usr/local/lib/python2.7/dist-packages/AsibotPy.py", line 59, in inv
    for elem in range(0,data.size()):
AttributeError:

[2017-05-06 11:16] PeterBowman commented on #32
@serna92 works for me. Did you remember to put `simCart.open('/ravebot')` before issuing that command? Keep an eye on the terminal on which `cartesianServer` is running, you'll see several debug messages printed by the callbacks of the RPC responder. Among them, look for:

[code]

Any failure should be clearly stated right there.

BTW I fixed the `stat` command at 4991b02, pull the changes and run

[2017-05-06 21:17] jgvictores commented on #21
In fact, `premultH` could be moved to https://github.com/roboticslab-uc3m/kinematics-dynamics as something like `transCoodsUsingH`.

[2017-05-08 13:26] serna92 commented on #32
Enabling debug I got the next message from openrave:

2017-05-08 15:10:55,030 openrave [DEBUG] [planningutils.cpp:65 planningutils::JitterActiveDOF] JitterActiveDOFs: self collision: (asibot:link0)x(asibot:link3), contacts=0!

Is this causing not to get a valid trajectory?

[2017-05-09 08:59] serna92 commented on #32
Hello,

I have another question, I can't figure out how to get the same environment which is getting executed in cartesian server.

Currently, I load a copy of the environment with openrave but I would like to work with the same environment in order to make invisible objects which arent taking part in the simulation in that moment or to set them a different position before starting a simulation.

[2017-05-09 09:37] PeterBowman commented on #32
That debug line might mean that links 0 and 3 are overlapping in the simulator, but I'm not sure. In certain circumstances, OpenRAVE bloats the terminal output with warning messages which we usually don't care about. Regardless, did you manage to solve the `simCart.inv` issue? If so, how is the simulation responding to your commands?

Any 3D models are pulled from [roboticslab-uc3m/asibot-openrave

[2017-05-09 12:00] serna92 commented on #32
Yes, I resolved the `simCart.inv` issue, I wasn't running cartesian server because I was using the environment loaded by openrave. Now, I want to do the opposite, make openrave to work with the environment loaded by cartesian server and being able to modify it just at the begining of the simulation. Instead of `Environment.Load(environment_path)`.

I have a modiffied environment and i want, for ex

[2017-05-09 21:26] jgvictores commented on #32
Hi @serna92
Regarding possibilities of using more `roboticslab-uc3m` developments, we have the intention of porting functionalities to plugins that can be loaded from `openravepy`. These are the related issues: https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/27 and https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/26 (both part of the [openrave-yarp-plugins](https:/

[2017-05-10 09:28] serna92 commented on #32
As functionality I would like that given a target position the program can give the needed waypoints or execute a trajectory using `movj` before the aproaching to the object using `movl`. And also, be able to select and set visible/invisible objects which aren't taking part in the simulated task.

What I want to do in my TFM is to design an UI in Python which asks the user what task and where is/a

[2017-05-11 20:26] jgvictores commented on #32
As commented above, using `openravepy`, once you get something similar to the ([python example here](http://openrave.org/docs/0.8.2/tutorials/openravepy_examples/#using-a-birrt-planner)) working, omit `robot.WaitForController(0) # wait` and instead try to extract the plan from `manipprob` (maybe `ipython`'s autocomplete can help you with the methods). Once extracted, you can send it to the robot u

[2017-05-13 10:42] serna92 commented on #32
Hello, I have done a plugin which I want to test but I have problems to use it. Especifically with the line `RaveCreateModule(env,'mymodule')`. I would like to send as param the env loaded after running cartesian `server --env myEnv`. I mean to be able to work with the loaded scene instead of load it again with `env.load('myEnv')`.

[2017-05-13 20:16] jgvictores commented on #32
1. As far as I understand and have tested, passing parameters to OpenRAVE works differently from command line than as from python code. Just to get something working, you can imitate how [this python line](https://github.com/roboticslab-uc3m/openrave-yarp-plugins/blob/ba7c632fa1ef0d49d149a29b4fb63b7c3292b383/examples/openrave-YarpRobot-collision-real.py#L17) can be caught by [this C++ OpenRAVE plu

[2017-05-13 20:18] jgvictores commented on #32
PS: Please forget about `cartesianServer` for now. It will be superseeded, and you are invoking plugins from python code.

[2017-05-14 09:08] serna92 commented on #32
All what I have is uploaded in this repository https://github.com/serna92/AsibotSimulation.git.

I was working on the files [pick_can_modified.py](https://github.com/serna92/AsibotSimulation/blob/master/programas/pick_can_modified.py) and [OpenraveYarpObjManagement.cpp](https://github.com/serna92/AsibotSimulation/blob/master/OpenraveYarpObjManagement/OpenraveYarpObjManagement.cpp).

Knowing that c

[2017-05-16 15:39] jgvictores commented on #32
**Important:** Regarding [OpenraveYarpObjManagement.cpp](https://github.com/serna92/AsibotSimulation/blob/master/OpenraveYarpObjManagement/OpenraveYarpObjManagement.cpp), could you include it in a fork and/or branch and Pull Request to https://github.com/roboticslab-uc3m/openrave-yarp-plugins ?

No, we'll have something similar to `simCart`in the future, and will keep you notified on any change of

[2017-05-18 19:11] serna92 commented on #32
Hello,

I figured out my mistake. In order to get a valid trajectory I had to provide the goal joint values in radians.

I also got the waypoints of the trajectory but the commands movj and movl only accept cartesian coordinates and there isn't a VOCAB to do direct kinematics. [My code](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/programas/pick_can.py#L91)

[2017-05-18 19:39] jgvictores commented on #32
1. You can follow [this example](https://github.com/roboticslab-uc3m/asibot-main/blob/486aedf9a76f976b4924b7fcc6367f4f1f02be9b/example/python/testRemoteRaveBot.py) to control in joint space.

1. Just as a side note (as it makes no sense to do forward kinematics for its inversion in the next step), places where forward kinematics implementation is missing:
- [share/webInterface/user/AsibotPy.py](ht

[2017-05-19 12:12] serna92 opened #33 "Adding a Kinbody after an environment has been loaded by cartesianserver or testravebot."
Hello,

I need to add an object depending on the task I want to simulate with the robot asibot.

As you can see the environment and the objects that I use are in different files:
- [Environment](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/entornoAsibot/asibot_kitchen.env.xml)
- [RedCan](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/entornoAsibo

[2017-05-19 13:53] jgvictores commented on #33
"Adding a Kinbody after an environment has been loaded by cartesianserver or testravebot" would be implemented in a `WorldRpcResponder` plugin that should be ported/created as part of https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/27

[2017-05-19 13:55] jgvictores commented on #33
PS: You could actually implement that as part of the current [WorldRpcResponder.cpp](https://github.com/roboticslab-uc3m/asibot-main/blob/ec0b387fe3ea7eed6ccd0087f296dd0172193730/src/libraries/RlPlugins/ravebot/WorldRpcResponder.cpp) as part of the `mk` command.

[2017-05-19 16:43] serna92 commented on #33
I added this in `mk command` on `WorldRpcResponder`:

[code]

and after reinstall asibot-main again and execute this in my python script it worked as expected:

[code]

Should it be commited?

[2017-05-20 16:57] jgvictores commented on #33
Yes, that looks good (you should always commit, see https://github.com/roboticslab-uc3m/best-practices!).

Please commit the lines of each file on branches (or branch of fork if you do not have permissions) to later create Pull Request(s) (PR) or merge directly if functional across PCs.

[2017-05-23 08:49] serna92 opened #35 "Alternative to simCart.wait() for `pos.positionMove`"
Hi,

When I use `pos.positionMove`, [my pogram](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/programas/pick_can.py#L73) continue running to the next line which is a `simCart.movl()`. Then both robot movements are executed at the same time. Im using `yarp.Time.delay(20)` but is too variable since some movements last 18 seconds but others can last 25 seconds. I would like

[2017-05-23 12:00] PeterBowman commented on #35
`simCart.wait()` awaits a reply from the RPC server at [AsibotPy.py#L92](https://github.com/roboticslab-uc3m/asibot-main/blob/f9fb22d/share/webInterface/user/AsibotPy.py#L92), thus blocking your thread of execution until a response is available. To makes this work with the controlboard interfaces (e.g. `IPositionControl`), you'd have to implement the wait loop in your own code; see how this is imp

[2017-05-23 20:26] serna92 opened #36 "Change robot position without closing a cartesianserver instance."
Hello,

I did an [Asibot user interface](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/programas/gui.py) to load each of the tasks I implemented. These tasks has the chair and the robot in different positions in order to be in range to grab and release the different objects.

Before launch each task, I modify the position of the objects, the robot and the wheelchair [read

[2017-05-24 10:40] jgvictores commented on #35
I'd also recommend a small delay before the first check:

[code]

Reimplementing this in a more like a do-while fashion:

[code]

[2017-05-25 11:01] jgvictores commented on #36
Do you think you could you add a `world mv (string)` command to [src/libraries/RlPlugins/ravebot/WorldRpcResponder.cpp](https://github.com/roboticslab-uc3m/asibot-main/blob/develop/src/libraries/RlPlugins/ravebot/WorldRpcResponder.cpp) and PR?

[2017-05-25 11:28] serna92 commented on #36
Yeah, it seems the best solution. Is there any difference between moving robot and moving any kinbody object like the weelchair? I saw translation values are stored in [asibot.robot.xml](https://github.com/serna92/AsibotSimulation/blob/replaceCartesianServer/entornoAsibot/asibot.robot.xml).

[2017-05-25 13:13] jgvictores commented on #36
As far as I know, it should be the same. I expect if we force the kinbody of the ASIBOT link used as base to a different place, the rest of the links should follow. Of course, this is an assumption, we should test it.

The contents of the new `world mv (string)` command in [src/libraries/RlPlugins/ravebot/WorldRpcResponder.cpp](https://github.com/roboticslab-uc3m/asibot-main/blob/develop/src/libra

[2017-05-25 19:56] jgvictores commented on #36
@serna92 Maybe we can close this thanks to #37 ?

[2017-05-25 21:23] serna92 commented on #36
Yes, I agree.

[2017-05-25 21:23] #36 closed, assigned to nobody

[2017-05-27 23:22] PeterBowman commented on #35
Excuse me, I was wrong. The value returned by `checkMotionDone` (as well as many other controlboard interface methods) indicates whether the RPC command succeeded or failed. You still have to pass an output parameter to store the actual result of the query. It's easier to see when requesting a position movement, although we are dealing with input parameters here. From inline documentation at `yarp

[2017-05-28 08:55] PeterBowman commented on #35
I've deleted my comment from last night (must have suffered from brain overheat, dunno). Let me summarize my conclusions:

* There are three signatures for the Python bindings of `IPositionControl::checkMotionStatus` and its overloads. Looking at the [SWIG interface file](https://github.com/robotology/yarp/blob/3e63e13/bindings/yarp.i#L819-L844):
  * `checkMotionDone(IPositionControl self) -> bool

[2017-05-29 09:28] serna92 commented on #35
Thank you to you both for resolving my doubts. I recorded a video demostration with the asibot simulation running. I also include the repository where I storage the code.

[youtube video](https://youtu.be/wsg1LLEc5C0)
[Asibot Simulation repository](https://github.com/serna92/AsibotSimulation)

[2017-05-31 13:43] jgvictores commented on #35
- [youtube video](https://youtu.be/wsg1LLEc5C0) -> Added to playlist: https://www.youtube.com/watch?v=wsg1LLEc5C0&list=PL9C7CA77199E91668
- [Asibot Simulation repository](https://github.com/serna92/AsibotSimulation) -> Starred :-)

Ok to close issue?

[2017-05-31 14:14] serna92 commented on #35
Yes :)

[2017-05-31 14:17] #35 closed, assigned to nobody

[2017-07-10 14:58] PeterBowman commented on #33
Looks like #34 solved this, feel free to re-open if needed.

[2017-07-10 14:58] #33 closed, assigned to serna92

[2017-08-16 11:02] PeterBowman commented on #21
I've adapted the *wiimoteServer* application to work as a YARP plugin, done at roboticslab-uc3m/yarp-devices@b3d27fc. This is currently implemented as a `yarp::dev::IAnalogSensor` for simplicity/brevity, but should get its own interface and network wrapper sooner or later, with full control of all keys, sensors, rumble device and LEDs. Apart from that, I gave up on CWiiD and switched to the XWiimo

[2017-10-31 14:38] jgvictores commented on #28
`ravebot` was never actually migrated, but I'd say that with https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/38, it is definitely superseeded by YarpOpenraveControlboard.

[2017-10-31 14:40] jgvictores commented on #28
Well, maybe not completely superseeded until https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/29 and https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/39 are done.

[2017-11-04 09:23] jgvictores opened #38 "Clean asibot-main examples"
Clean asibot-main examples

[2017-11-04 12:14] PeterBowman commented on #38
@jgvictores I forgot to tell you that there is ongoing work (#21, #28) on the `ycm-migration` branch. If you could, please work against it to keep track of the overall progress in migrating/cleaning files. I have just synced it `develop`.

[2017-11-04 12:20] jgvictores commented on #38
No problem. I'm essentially just going to be deleting certain files from the `example` folder. Would you prefer if I do this directly on `ycm-migration` (if so, I guess on a branch and then merge --no-ff)?

[2017-11-04 12:29] PeterBowman commented on #38
Oh, I didn't notice that I never actually touched the `example/` directory at all. No problem then if you choose to merge into `develop`, I'll keep up later with your changes on `ycm-migration`.

[2017-11-07 20:30] jgvictores commented on #7
Closing due to inactivity.

[2017-11-07 20:30] #7 closed, assigned to nobody

[2017-11-29 17:25] jgvictores commented on #28
https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/29 is now closed, `YarpOpenraveControlboard` is an efficient re-implementation of `ravebot`.

As for https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/39, it just provides a couple of checks and parameters, will be soon closed.

[2017-12-05 11:12] jgvictores commented on #3
Throughout old emails, I've commented that offscreen rendering was achived via Bumblebee's `optirun` (only applicable to Optimus NVIDIA technology I guess).

[2017-12-05 20:38] jgvictores commented on #3
This issue was moved to roboticslab-uc3m/openrave-yarp-plugins#48

[2017-12-05 20:38] #3 closed, assigned to jgvictores

[2018-01-06 02:12] PeterBowman commented on #21
@jgvictores `transCoordsUsingJoints` was already written and merged in kinematics-dynamics at the time you posted this, did you mean that it should be renamed? I'm not sure what's left to do here, perhaps we can finally check that box.

[2018-01-06 12:45] jgvictores commented on #21
The intention is to move and rename. `transCoordsH` and renamed `transCoordsUsingJoints` provide different functionalities.

[2018-01-06 16:17] PeterBowman commented on #21
Oh, OK. To summarize:

* `transCoordsH`: formerly `premultH`, pre-multiplies a runtime-constant HT matrix (given via YARP configure option). Not done yet.
* `transCoordsUsingJoints`: same as above, but works with online HT (retrieves current joint angles from the robot control board and performs FK). Already done.

Please correct me if I'm wrong.

[2018-01-06 16:23] jgvictores commented on #21
That's the objective, right!

[2018-01-24 22:51] jgvictores commented on #21
visionSegmentor:
- Export: 2bba02f558809214f48b3333ed55844aa94e2d3e
- Import: https://github.com/roboticslab-uc3m/vision/commit/ec92007a8174f68eef4afd13d6d5cf78ea220346 and https://github.com/roboticslab-uc3m/vision/commit/2747559c170daa9ea0c9fa6f98f33f8fa19ed781

Will be renamed to colorRegionDetection2D, see https://github.com/roboticslab-uc3m/vision/issues/75

[2018-01-26 22:31] PeterBowman commented on #21
premultH (re)moved at roboticslab-uc3m/kinematics-dynamics#137.

[2018-02-03 00:36] jgvictores commented on #38
Done all but TaskLib at 71146f80b9c1bcd1675fb90ddeb7253fa528f6a9

[2018-02-03 00:47] #38 closed, assigned to jgvictores

[2018-02-03 01:00] jgvictores commented on #21
robotDraw moved to https://github.com/roboticslab-uc3m/openrave-yarp-plugins/tree/d7c946bfa51b3bf012b5eab9962d427af3e58d8b/example/cpp/robotDraw at bf2b2cd55ccf5060f0acfa2fd42bbded415af47a

[2018-02-03 01:06] jgvictores commented on #21
kinectPxToReal 1bc0569a5725ece3cc65e1540c7b3294817af2ff -> https://github.com/roboticslab-uc3m/vision/commit/c1529c4a1d282aff15fe395a6dd78524db67b985

[2018-02-03 01:07] jgvictores opened #39 "Clean asibot-main share"
Clean asibot-main share

[2018-02-03 18:27] PeterBowman commented on #30
Progress at b1abb73, will close once merged into `ycm-migration`.

[2018-02-05 08:34] jgvictores commented on #39
Done at all commits that point to this issue, specially ab0136442e068317da32331555991eb662d19b16.
Only taskLib-related left.

[2018-02-05 08:34] #39 closed, assigned to jgvictores

[2018-02-05 10:17] jgvictores opened #40 "Do something with TaskLib"
As a recap of #21 #28 #38 (clean programs, libraries, and share), all that is missing is TaskLib.
Let's sum up what's on `ycm-migration`.
- Programs:
   - [x] asibotTasks -> Sounded like a great idea, think I actually did some full trajectories like a man moving around a simulated environment and putting on some make-up, but can't think of a practical use for this. I actually recall this was when

[2018-02-05 10:20] jgvictores commented on #28
Marking `TaskLib` too (which was the only lib missing), of which progress will be tracked at #40.

Closing issue!

[2018-02-05 10:20] #28 closed, assigned to jgvictores, PeterBowman

[2018-02-05 11:21] jgvictores commented on #21
Marked asibotTasks and taskServer, will be tracked on #40

[2018-02-05 11:22] jgvictores commented on #21
mv matlab/visualServo out of repo done at 81f9a4075509629a639e4800b80e153fc1cf1be1.

Closing issue!

[2018-02-05 11:22] #21 closed, assigned to jgvictores, PeterBowman

[2018-02-05 11:51] jgvictores commented on #32
`closed due to inactivity > 1 month`

[2018-02-05 11:51] #32 closed, assigned to nobody

[2018-02-05 11:53] jgvictores commented on #21
Created https://github.com/roboticslab-uc3m/legacy-matlab-visual-servo for this legacy code, archived.

[2018-02-05 11:59] PeterBowman commented on #30
Merged into `ycm-migration` at fcfa28e (BTW keeping things simple, this is a superbuild repo and we won't need most of the usual features and boilerplate).

[2018-02-05 11:59] #30 closed, assigned to PeterBowman

[2018-02-09 18:53] jgvictores commented on #40
Will be migrated to `asibot-legacy-tasklib` or similar.

[2018-02-09 18:53] jgvictores commented on #40
...and archived.

[2018-02-09 21:10] jgvictores commented on #40
New repo created, imported code, and archived: https://github.com/roboticslab-uc3m/legacy-asibot-tasklib

[2018-02-09 21:13] jgvictores commented on #40
Done export at a5858c1a8035fe38ab08bab957895dc28c3fa74e.

[2018-02-09 21:13] #40 closed, assigned to jgvictores

[2018-02-09 21:17] jgvictores opened #41 "clean doc/fig"
clean doc/fig

[2018-02-09 21:29] jgvictores commented on #41
Done at c1d846f2c11f410bb93ca8dafdbf823b87f402f0.

[2018-02-09 21:29] #41 closed, assigned to jgvictores

[2018-03-26 14:31] PeterBowman opened #42 "Unable to establish remote connection to GH via git command"
Log in into ASIBOT's onboard CPU and perform any kind of remote request to GitHub, e.g. `git pull` or `git clone`. The command hangs, but it prints the following output if the `GIT_TRACE` and `GIT_CURL_VERBOSE` environment variables are set ([docs](https://git-scm.com/book/gr/v2/Git-Internals-Environment-Variables)):

[code]

This used to work a few months ago.

[2018-03-26 15:00] PeterBowman commented on #42
Per https://support.cloudbees.com/hc/en-us/articles/218154647:

Per `gnutls-cli -l` (`gnutls-bin` package):

[2018-03-26 15:27] PeterBowman commented on #42
Possibly useful links:

* https://stackoverflow.com/questions/29245292/how-can-i-make-git-tell-curl-to-use-openssl-instead-of-gnutls-without-rebuilding/34645007#34645007
* https://serverfault.com/questions/348815/how-to-change-libcurl-ssl-backend-from-gnutls-to-openssl-on-ubuntu-server
* https://www.gnutls.org/manual/html_node/gnutls_002dcli-Invocation.html
* https://answers.launchpad.net/ubuntu/+

[2018-03-29 21:58] serna92 opened #43 "Simulación Asibot en OpenRave."
Buenas,

Quisiera saber si aún se puede instalar y utilizar cartesian server pues a la hora de hacer el ccmake .. ya no veo la opción cmake .. -DENABLE_cartesianServer. En caso negativo, ¿De qué manera podría realizar una simulación de Asibot con OpenRave?.

Saludos y gracias por adelantado.

[2018-03-29 22:09] PeterBowman commented on #43
Hola. Hace poco reestructuramos el repositorio por completo, las funciones obsoletas como cartesianServer se encuentran ahora alojadas en otro lugar. Puedes utilizar la etiqueta `pre-ycm` para obtener un snapshot de asibot-main previo a dichos cambios: [link](https://github.com/roboticslab-uc3m/asibot-main/tree/pre-ycm), [enlace a descarga .zip](https://github.com/roboticslab-uc3m/asibot-main/arch

[2018-03-31 15:19] serna92 commented on #43
Buenas, a la hora de hacer make obtengo el siguiente error de que no se encuentra el archivo Module.h. He probado a reinstalar Yarp pero no soluciona el problema, ¿qué puede estar fallando?

In file included from /home/miguel/repos/asibot-main/src/libraries/TestRaveBotLib/TestRaveBot.cpp:3:0:
/home/miguel/repos/asibot-main/src/libraries/TestRaveBotLib/TestRaveBot.h:7:28: fatal error: yarp/os/Modul

[2018-03-31 17:51] PeterBowman commented on #43
`Module.h` no existe desde YARP 2.3.72, puede que se dejase de instalar incluso antes. Puedes probar a sustituir `#include <yarp/os/Module.h>` por `#include <yarp/os/RFModule.h>` o intentarlo con una versión anterior de YARP. De todos modos, recordando un poco los pasos que dimos en #28, recomiendo migrar al nuevo sistema en el que el controlador monolítico se distribuye ahora entre varios reposit

[2018-03-31 23:20] serna92 commented on #43
Buenas, he conseguido cargar el entorno con el ejemplo en Python pero tengo dudas acerca de como enviar comandos RPC desde python una vez se ha cargado el módulo "openraveYarpWorldRpcResponder"

[2018-04-01 13:49] jgvictores commented on #43
El comportamiento debe ser idéntico al antiguo. Para probar, puedes abrir una terminal:
[code]
Y comandar todo lo que se indica vía `help`.

[2018-04-21 10:29] PeterBowman commented on #42
Probably going to throw the old Debian 6.0 through a huge window and move on to a (hopefully) modern SO, see last comments at https://github.com/roboticslab-uc3m/questions-and-answers/issues/20.

[2018-06-16 19:34] PeterBowman commented on #43
Cerrando por inactividad.

[2018-06-16 19:34] #43 closed, assigned to nobody

[2018-07-27 11:27] PeterBowman commented on #42
Happily marking this as WONTFIX. Per https://github.com/roboticslab-uc3m/questions-and-answers/issues/20, we have developed a Debian 8.0 jessie (Linux kernel 3.16.0) image ready to use. On the next round of hardware tweaks (September?), the internal SD card will be replaced.

PS all ASIBOT OS images are stored in [this gdrive folder](https://drive.google.com/drive/folders/0BzDqCkRf_ltrd1N3RHUyX1Rh

[2018-07-27 11:27] #42 closed, assigned to PeterBowman

[2019-09-27 10:27] PeterBowman opened #44 "Peak-CAN comms fail with IRQ error"
ASIBOT has undergone a major SO upgrade from old Debian 6.0 ("squeeze") to Debian 8.0 ("jessie"), see https://github.com/roboticslab-uc3m/questions-and-answers/issues/20. Everything went fine but the ability to read/write via CAN. Perhaps this is linked to the fact that I installed old HiCO.CAN kernel drivers first, checked that they worked, and then tried the Peak CAN ones. It seems that initial

[2021-11-09 11:43] PeterBowman commented on #44
I'm not planning on working on this anytime soon, but I'm definitely convinced that we'll drop the proprietary PCAN drivers in favor of SocketCAN: https://github.com/roboticslab-uc3m/yarp-devices/issues/251. So, WONTFIX I guess.

[2021-11-09 11:43] #44 closed, assigned to PeterBowman